{% extends 'base.html.twig' %}

{% block title %}Mon Profil {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="profil">
                <div class="col-sm">
                      <h1>Mon Profil</h1>
                      {{ user.email }}

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ stats }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><p> {{ stats }} %</p></div>
                    </div>
                    <div class="stat">
                        <p>Vous avez remplit votre profil a hauteur de {{ stats }} %.</p>
                    </div>
                </div>
                <div class="texte">
                    <p>
                      Ce formulaire n'a pas pour vocation de servir à des tiers dans un but commerciale.
                      Parce que nous sommes soucieux de la sécurité de notre site, et que nous souhaitons une totale transparence pour les consommateurs.<br><br>
                      Nous vous invitons à renseigner les champs.
                      La barre de progression, vous indique le status de votre profil pour être visible, complétez le formulaire à 100% afin d'apparaître sur notre site.<br><br>
                      Nous vous remercions de la confiance que vous nous accordez.
                    </p>
                      <!-- Message flash : N'oubliez pas de compléter tous les champs du formulaire! -->

                </div>
                <img src="asset/img/margueritte.JPG"/>
            </div>
            <div class ="formulaire">
                <div class="col-sm">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
