{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des Producteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <!-- <th>Password</th> -->
                <!-- <th>Token</th> -->
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Siret</th>
                <th>Phone</th>
                <th>Adress</th>
                <th>Horaire</th>
                <th>Category</th>
                <th>Site</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <!-- <td>{{ user.password }}</td> -->
                <!-- <td>{{ user.token }}</td> -->
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.siret }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.horaire }}</td>
                <td>{{ user.category }}</td>
                <td>{{ user.site }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye" title="afficher"></i></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-user-edit" title="éditer"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- <a href="{{ path('user_new') }}">Create new</a> -->
{% endblock %}
