{% extends 'base.html.twig' %}
{% block title %}departement
    {{ departement.numero }}
{% endblock %}
{% block body %}
    <section id="les_selections">
        <div class="navbar1">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline" action="{{ path('anonyme2')}}">

                    <select id="profil_dep_id" name="departement">
                        <option value="">Departements</option>
                        {% for depall in depalls %}

                            <option {% if(depall.numero == departement.numero) %} selected="selected" {% endif %} value="{{ depall.numero }}">{{ depall.numero }}
                                -
                                {{ depall.nom }}</option>
                        {% endfor %}
                    </select>

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                </form>

            </nav>
        </div>
        <h2>Bienvenue dans le département
            {{ departement.numero }}</h2>
        <div class="clear"></div>

        <div class="global image">
            <img src="{{ asset('asset/img/ble.jpg') }}" alt="blé">
        </div>

        {% for user in users %}
                <div class="global prod">
                    <div class="avatar">
                      {% if user.images %}
                        <img src="{{ asset('asset/img/photos/%s'|format(user.images)) }}" alt="">
                      {% else %}
                        <img src="{{ asset('asset/img/default-avatar.png') }}">
                      {% endif %}
                    </div>
                    <div class="tx">
                        {% for catt in user.cat %}
                          <div class="prodt">
                            <p>{{ catt.produit }}</p>
                          </div>
                            <h2>{{ user.title }}</h2>
                          <div class="ds">
                            <p>{{ user.description }}</p>
                          </div>
                          <div class="nom">
                              <p class="name">{{ user.lastname }}
                                  {{ user.firstname }}</p>
                              <p><i class="fa fa-at"></i>{{ user.email }}</p>
                              <p><i class="far fa-address-card"></i>
                                  {{ user.adress }}</p>
                              <p class="cd">
                                  {{ user.cp }}</p>
                              <p><i class="fas fa-phone"></i>
                              {{ user.phone }}</p>
                            {% endfor %}
                        </div>
                    </div>
              <div class="clear"></div>
            </div>
        {% endfor %}


    <div class="clear"></div>
<div class="pagin">
  {{ paginator|raw }}
  </div>

</section>{% endblock %}
